body { background: #780b79; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 39px; display: flex; }
.block-shipping-0 { color: #669114; font-size: 19px; margin-bottom: 5px; }
.block-auth-1 { color: #55a677; font-size: 12px; margin-bottom: 5px; }
.block-validator-2 { color: #213c36; font-size: 16px; margin-bottom: 5px; }
.block-search-3 { color: #658069; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #d302ec; font-size: 19px; margin-bottom: 5px; }